:root {
  --btn-bg: rgb(242, 245, 245);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF";
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: rgb(41, 46, 47);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
