/* Header and Breadcrump styles - #tag */

/* Site Header */
#header {
  padding: 32px 0;
}

.breadcrump {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.breadcrump a {
  color: rgb(4, 42, 48);
}

.breadcrump a:nth-child(3) {
  color: rgb(105, 112, 113);
}

.breadcrump a:nth-child(5) {
  color: rgb(163, 163, 163);
}

/* Product section */

#product {
  padding-top: 16px;
}

.product .container {
  display: flex;
  gap: 44px;
  align-items: flex-start;
}

/* Product slides */

.product__slides {
  width: 100%;
  max-width: 652px;
}

.product__heading--slides {
  display: none;
}

/* Product Presentation */

.slides__presentation {
  position: relative;
  margin-bottom: 16px;
  height: 434px;
  border-radius: 8px;
  border: 1px solid rgb(236, 242, 243);
  overflow: hidden;
}

.slides__presentation > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slides__presentation-layer {
  position: absolute;
  inset: 0;
}

.slides__presentation-pointer {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 12px;
  color: rgb(4, 42, 48);
}

.slides__presentation-expander {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-bg);
  cursor: pointer;
}

.slides__presentation-description {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 10px;
  color: rgb(105, 112, 113);
}

.slides__presentation-navigation {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}

.navigation-btn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.navigation-btn-next img {
  transform: rotate(180deg);
}

/* Product slides list */
.slides__footer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.slides__footer-btn {
  width: 32px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-bg);
  cursor: pointer;
}

.slides__footer-btn-prev {
  /*  */
}

.slides__footer-btn-next {
  transform: rotate(180deg);
}

.slides__footer-list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  overflow-x: auto;
}

.slides__footer-slide {
  min-width: 108px;
  width: 108px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid rgb(236, 242, 243);
  overflow: hidden;
}

.slides__footer-slide.active {
  border-color: rgb(20, 107, 135);
}

/* Product Form */
.product__form {
  width: 100%;
  max-width: 664px;
}

.product__heading {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

.product__characteristics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__characteristics-left {
  width: 100%;
  max-width: 316px;
  min-height: 100px;
  margin-right: 20px;
}
.product__form-label {
  position: relative;
  margin-bottom: 10px;
}

.product__form-label img {
  margin-left: 8px;
  cursor: pointer;
}

.product__form-label-tooltip {
  position: absolute;
  bottom: 100%;
  right: 0;
  transform: translate(-52px, -10px);
  display: none;
  width: 168px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  z-index: 1;
  color: rgb(41, 46, 47);
  font-size: 11px;
  font-weight: 300;
  line-height: 130%;
}

.product__form-label img:hover ~ .product__form-label-tooltip {
  display: inline-block;
}

.product__form-belt {
  margin-bottom: 28px;
}

.product__form-belt input[name="belt-width"] {
  display: none;
}

.product__form-belt-checkbox-list {
  margin-bottom: 12px;
  padding-right: 28px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style-type: none;
}

.product__form-belt-checkbox-list li:last-child {
  flex-grow: 1;
}

.product__custom-belt-checkbox {
  width: 48px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 236, 240);
  border-radius: 4px;
  cursor: pointer;
}

.product__custom-belt-checkbox--custom {
  width: 100%;
}

.product__form-belt
  input[name="belt-width"]:checked
  ~ .product__custom-belt-checkbox {
  background-color: rgb(20, 107, 135);
}

.product__form-belt
  input[name="belt-width"]:checked
  ~ .product__custom-belt-checkbox
  span {
  color: #ffffff;
}

.product__custom-belt-checkbox span {
  position: relative;
}

.product__custom-belt-checkbox span::after {
  position: absolute;
  top: 0;
  right: -6px;
  content: "â€";
}

.product__custom-belt-checkbox--custom span::after {
  content: "";
}

.product__form-size-manual {
  display: flex;
  gap: 8px;
}

.product__form-size-width {
  margin-bottom: 28px;
  display: none;
}

.product__form-size-input {
  width: 64px;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 15px;
  background-color: var(--btn-bg);
  text-align: center;
  border: 1px solid rgb(214, 220, 221);
  border-radius: 8px;
}

.product__form-bed-length {
  margin-bottom: 32px;
}

.product__form-additionals-list {
  list-style-type: none;
}

.product__form-additionals-checkbox {
  position: relative;
  width: 100%;
  max-width: 316px;
  margin-bottom: 4px;
}

.product__form-additionals-custom-checkbox:hover {
  background-color: rgb(40, 162, 202);
  color: #fff;
}

.product__form-additionals-checkbox-input {
  position: absolute;
  top: 12px;
  left: 12px;
}

.product__form-additionals-custom-checkbox {
  padding: 12px;
  padding-left: 40px;
  background-color: rgb(224, 236, 240);
  border-radius: 8px;
}

.product__form-additionals-checkbox-input:checked
  ~ .product__form-additionals-custom-checkbox {
  background-color: rgb(20, 107, 135);
  color: #ffffff;
}

.product__form-additionals-checkbox-input {
  accent-color: rgb(20, 107, 135);
}

.product__characteristics-right {
  width: 100%;
  max-width: 304px;
  min-height: 100px;
  background-color: var(--btn-bg);
  border-radius: 8px;
}

.product__characteristics-details {
  padding: 24px 20px 32px 20px;
  border-bottom: 1px solid rgb(214, 220, 221);
}

.product__characteristics-details-sku {
  margin-bottom: 12px;
  color: rgb(165, 177, 179);
}

.product__characteristics-details-sku span {
  color: rgb(4, 42, 48);
}

.product__characteristics-details-tag {
  margin-bottom: 12px;
  padding: 10px 12px;
  display: inline-block;
  background-color: rgb(4, 42, 48);
  border-radius: 4px;
  color: #ffffff;
}

.product__characteristics-details-tag > span {
  display: inline-block;
  margin-left: 4px;
}

.product__characteristics-details-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: rgb(255, 223, 215);
  border-radius: 4px;
}

.product__characteristics-details-rating > span {
  font-weight: 700;
  color: rgb(241, 88, 43);
}

.product__rating-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.product__rating-link span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(4, 42, 48);
}

.product__rating-link img {
  transform: rotate(180deg);
}

.product__characteristics-final {
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 24px;
}

.product__characteristics-final-price {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 10px;
  color: rgb(105, 112, 113);
  text-transform: uppercase;
}

.product__characteristics-final-price span {
  font-size: 24px;
  color: rgb(20, 107, 135);
}

.product__characteristics-final-count {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}

.product__characteristics-final-count > input {
  width: 100%;
  text-align: center;
  border: 1px solid rgb(214, 220, 221);
  border-radius: 8px;
  font-size: 16px;
  color: rgb(66, 72, 73);
}

.product__characteristics-final-count button {
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.product__characteristics-final-count button:disabled {
  background-color: rgb(214, 220, 221);
  color: #fff;
  cursor: not-allowed;
}

.product__characteristics-final-count > input::-webkit-outer-spin-button,
.product__characteristics-final-count > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

.product__characteristics-final-submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 24px;
  padding: 14px 40px;
  background-color: rgb(241, 88, 43);
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}

.product__characteristics-final-warning {
  font-size: 12px;
  line-height: 120%;
  color: rgb(105, 112, 113);
}

.product__form-additionals-multiple-select {
  display: none;
  background-color: var(--btn-bg);
  border-radius: 8px;
}

.product__form-additionals-multiple-select summary {
  padding: 15px 16px;
  background-color: var(--btn-bg);
  border: 1px solid rgb(214, 220, 221);
  border-radius: 8px;
}

.product__form-additionals-multiple-select ul {
  list-style-type: none;
}

.product__form-additionals-multiple-select li {
  padding: 5px 10px;
}

.product__form-additionals-multiple-select li label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slides__presentation-modal {
  position: absolute;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1;
}
.slides__presentation-modal.active {
  display: flex;
}

.slides__presentation-modal-content {
  cursor: default;
}

@media only screen and (max-width: 1250px) {
  .product .container {
    flex-direction: column;
  }

  .slides__presentation {
    text-align: center;
  }

  .product__slides {
    max-width: 100%;
  }

  .product__form {
    max-width: 100%;
  }

  .product__characteristics {
    gap: 20px;
  }

  .product__characteristics-left {
    max-width: 100%;
  }

  .product__characteristics-right {
    max-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #product {
    padding-top: 0;
  }

  .product .container {
    padding: 0;
  }

  .slides__presentation {
    border-radius: 0;
  }

  .product__characteristics {
    flex-direction: column;
  }

  .slides__footer-btn {
    display: none;
  }

  .slides__footer-list {
    padding: 0 12px;
  }

  .slides__presentation-pointer,
  .slides__presentation-expander,
  .slides__presentation-navigation,
  .product__heading {
    display: none;
  }

  .product__characteristics-left {
    padding: 0 20px;
  }

  .product__form-size-input {
    width: 100%;
  }

  .product__form {
    padding-bottom: 162px;
  }

  .product__heading--slides {
    display: block;
    margin-bottom: 0;
    padding: 0 20px 24px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: rgb(4, 42, 48);
  }
}

@media only screen and (max-width: 650px) {
  .slides__presentation {
    height: 240px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }

  .product__form-additionals {
    display: none;
  }

  .product__form-additionals-multiple-select {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .breadcrump {
    flex-wrap: wrap;
  }
}
